{% extends 'TickitProjectBundle::layout.html.twig' %}

{% block project_content %}
    <h2>Create New {{ type|title }} Attribute</h2>

    {% if app.session.flashbag.has('error') %}
        <div class="flash-error">
            {% for message in app.session.flashbag.get('error') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method='post' {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.default_value) }}
        {{ form_row(form.allow_blank) }}

        {% if type == 'entity' %}
            {{ form_row(form.entity) }}
        {% endif %}

        {% if type == 'literal' %}
            {{ form_row(form.validation_type) }}
        {% endif %}

        {% if type == 'choice' %}
            <div id='choice-attribute-choices' data-prototype="{{ form_widget(form.choices.vars.prototype) | e }}">
                {{ form_label(form.choices) }}
                {{ form_errors(form.choices) }}
                <ul>
                    {% for choice in form.choices %}
                        {{ form_errors(choice) }}
                        {{ form_widget(choice) }}
                    {% endfor %}
                    <a href='#' title='Add a new choice'>Add Choice</a>
                </ul>
            </div>
            {% do form.choices.setRendered %}
        {% endif %}

        {{ form_rest(form) }}

        <input type='submit' value='Save Project Attribute' />
    </form>
{% endblock %}