{% extends '::no-content.html.twig' %}

{% block content %}
    <h2>Create User</h2>

    <form method='post' action='{{ path('user_create') }}' {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {{ form_row(form.forename) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        {{ form_rest(form) }}
        <input type='submit' value='Save User' />
    </form>
{% endblock %}