{% extends 'TickitUserBundle:Form:base_form.html.twig' %}

{% block user_content %}
    <h2>Edit User</h2>

    <form method='post' action='{{ path('user_edit', { "id": form.vars.value.id }) }}' {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {{ form_row(form.forename) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.group) }}

        <h4>Permissions</h4>
        <div class='data-list'>
            {{ form_widget(form.permissions) }}
        </div>

        {{ form_rest(form) }}
        <input type='submit' value='Save Changes' />
    </form>
{% endblock %}