{% extends 'TickitUserBundle::layout.html.twig' %}

{% block user_content %}
    <h2>Edit User</h2>

    <form method='post' {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {{ form_row(form.forename) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.group) }}

        <h4>Permissions</h4>
        {{ form_widget(form.permissions) }}
        {#<div class='data-list'>#}
            {#{% include 'TickitPermissionBundle:UserPermission:form-list.html.twig' %}#}
            {#{% do form.permissions.setRendered %}#}
        {#</div>#}

        {{ form_rest(form) }}
        <input type='submit' value='Save Changes' />
    </form>
{% endblock %}