{% extends '::no-content.html.twig' %}

{% block content %}
    <h2>Manage Users</h2>

    <div class='data-list'>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Group</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.groupName }}</td>
                        <td><a href="{{ path('user_edit', { id: user.id }) }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}