{% block permissions_widget %}
    <table id='permissions-table' data-prototype="{{ block('permissions_row_widget')|e }}">
        {% spaceless %}
            <thead>
                <tr>
                    <th>Permission</th>
                    <th>Group Granted?</th>
                    <th>Override for this user?</th>
                    <th>User Granted?</th>
                </tr>
            </thead>
            {% if form|length %}
                <tbody>
                    {% for child in form %}
                        {% set permission = child.vars['value'] %}
                        <tr data-permission-id="{{ permission.id }}">
                            <td>
                                {{ permission.name }}
                                {{ form_widget(child.id) }}
                                {{ form_widget(child.name) }}
                            </td>
                            <td>{{ form_widget(child.groupValue) }}</td>
                            <td>
                                {{ form_widget(child.overridden, {'attr': {'class': 'user-override'}}) }}
                            </td>
                            <td>{{ form_widget(child.userValue) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tr>
                    <td colspan="4">You need to select a group for this user before you can edit permissions.</td>
                </tr>
            {% endif %}
        {% endspaceless %}
    </table>

{% endblock permissions_widget %}

{% block permissions_row_widget %}
{% spaceless %}
    <tr data-permission-id="__name__">
        <td>
            {{ form_widget(prototype.id) }}
            {{ form_widget(prototype.name) }}
        </td>
        <td>{{ form_widget(prototype.groupValue) }}</td>
        <td>{{ form_widget(prototype.overridden, {'attr': {'class': 'user-override'}}) }}</td>
        <td>{{ form_widget(prototype.userValue) }}</td>
    </tr>
{% endspaceless %}
{% endblock %}