<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>

        <meta charset="utf-8" />

        <title>{% block title %}Tickit | Support System{% endblock %}</title>

        {% stylesheets  '../app/Resources/public/less/styles.less' filter='less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <!--[if lte IE 7]><link rel="shortcut icon" href="{{ asset('favicon.ico') }}" /><![endif]-->
    </head>
    <body style="zoom: 1">

        <div class="wrapper">
            {# Sticky header navigation #}
            <header class='main-header' role='banner'></header>
        </div>

        {# Outer application container #}
        <div class="container-fluid">

            {# Left hand navigation container #}
            <div class="row-fluid">
                <div id="main" class="main-nav span1"></div>
            </div>

            {# Inner application container #}
            <div id="container" class="span11">

                <div class="breadcrumbs">
                    <ul>
                        <li><a class="home-icon" href=""></a></li>
                        <li><a href="">Projects</a></li>
                        <li><a href="">Project Name</a></li>
                        <li><a href="">#PROJ-1234</a></li>
                    </ul>
                </div>

                {# Contextual content area for forms, listing etc. #}
                <div class="main" id="content-container"></div>

                {# Loading spinner (TODO) #}
                <div id="spin-wrap">
                    <div id="spin"></div>
                </div>
            </div>

        </div>

        {# Notifications container #}
        <div id="notification-side"></div>

        {% block javascripts %}
            {% javascripts filter='?requirejs' '@TickitCoreBundle/Resources/public/js/App.js' %}
                {{ require_js_initialize({ 'main' : asset_url }) }}
            {% endjavascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script>
                var appRoot = '';
                {% if(path(app.request.attributes.get('_route'))[:13] == '/app_test.php') %}
                    appRoot = '/app_test.php/';
                {% endif %}
            </script>
        {% endblock %}

        <footer id='footer'>
            {% block footer %}{% endblock %}
        </footer>

    </body>
</html>
