<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>

        <meta charset="utf-8" />

        <title>{% block title %}Tickit | Support System{% endblock %}</title>

        {% stylesheets  '../app/Resources/public/less/styles.less' filter='less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts '../app/Resources/public/js/modernizr.js' 'bundles/fosjsrouting/js/router.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <!--[if lte IE 7]><link rel="shortcut icon" href="{{ asset('favicon.ico') }}" /><![endif]-->
    </head>
    <body>

        <div class="wrapper">

            {# Sticky header navigation #}
            <header id='toolbar' class='main-header' role='banner' style="display: none;"></header>

            {# Login container #}
            <div id="login-container"></div>

            {# Outer application container #}
            <div id="outer-container" class="container" style="display:none;">

                {# Search side bar (TODO) #}
                <div id="search-side" style="display: none;">
                    <ul>
                        <li><a href="#">List 1</a></li>
                        <li class="active"><a href="#">List 2</a></li>
                        <li><a href="#">List 3</a></li>
                    </ul>
                </div>

                {# Inner application container #}
                <div id="container" class="span12">

                    {# Contextual content area for forms, listing etc. #}
                    <div class="main" id="content-container"></div>

                    {# Loading spinner (TODO) #}
                    <div id="spin-wrap">
                        <div id="spin"></div>
                    </div>
                </div>

            </div>

        </div>

        {# Notifications container #}
        <div id="notification-side"></div>

        {% block javascripts %}
            {% javascripts filter='?requirejs' '@TickitCoreBundle/Resources/public/js/App.js' %}
                {{ require_js_initialize({ 'main' : asset_url }) }}
            {% endjavascripts %}
        {% endblock %}

    </body>
</html>
