<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>

        <meta charset="utf-8" />

        <title>{% block title %}Tickit | Support System{% endblock %}</title>

        {% stylesheets '../app/Resources/public/bootstrap/css/bootstrap.css'
                       '../app/Resources/public/css/flat-ui.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets  '../app/Resources/public/less/master/styles.less' filter='less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="zoom: 1">

        <header class='main-header' role='banner'></header>

        <div id="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {#{{ require_js_initialize({ 'main' : 'core/js/App' }) }}#}
            {% javascripts '@TickitCoreBundle/Resources/public/js/vendor/requirejs/require.js' %}
                <script data-main="bundles/tickitcore/js/App" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}

        <footer id='footer'>
            {% block footer %}{% endblock %}
        </footer>

    </body>
</html>
