{% extends 'TickitProjectBundle::layout.html.twig' %}

{% block project_content %}
    <h2>Add Project</h2>

    {% if app.session.flashbag.has('error') %}
        <div class="flash-error">
            {% for message in app.session.flashbag.get('error') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method='post' {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.name) }}

        <div class='attributes'>
            <h4>Attributes</h4>
            {% for attribute in form.attributes %}
                {{ form_errors(attribute) }}
                {{ form_widget(attribute) }}
            {% endfor %}
        </div>
        {% do form.attributes.setRendered %}

        {{ form_rest(form) }}

        <input type='submit' value='Save Project' />
    </form>
{% endblock %}