{% extends 'TickitProjectBundle::layout.html.twig' %}

{% block project_content %}
    <h2>Edit Project</h2>

    {% if app.session.flashbag.has('notice') %}
        <div class="flash-notice">
            {% for message in app.session.flashbag.get('notice') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashbag.has('error') %}
        <div class="flash-error">
            {% for message in app.session.flashbag.get('error') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method='post' action='{{ path('project_edit', { 'id': form.vars.value.id }) }}' {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.name) }}

        <div class='attributes'>
            <h4>Attributes</h4>
            {% for attribute in form.attributes %}
                {{ form_errors(attribute) }}
                {{ form_widget(attribute) }}
            {% endfor %}
        </div>
        {% do form.attributes.setRendered %}

        {{ form_rest(form) }}

        <input type='submit' value='Save Changes' />
    </form>
{% endblock %}