{% extends '::no-content.html.twig' %}

{% block content %}
    <h2>Edit User Group</h2>

    <form method="post" action='{{ path('group_edit', { "id": form.vars.value.id }) }}' {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.name) }}

        {{ form_rest(form) }}
        <input type="submit" value="Save Changes" />
    </form>
{% endblock %}