{% extends 'TickitTeamBundle::layout.html.twig' %}

{% block team_content %}
    <h2>Manage Teams</h2>

    {% if app.session.flashbag.has('notice') %}
        <div class="flash-notice">
            {% for message in app.session.flashbag.get('notice') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class='data-list'>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Created</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.id }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.created|date('d/m/Y H:i:s') }}</td>
                    <td><a href="{{ path('team_edit', { id: team.id }) }}">Edit</a></td>
                    <td><a href="{{ path('team_delete', { id: team.id, token: token }) }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}